.blog{
    padding-top: 8rem;
    text-transform: uppercase;
    .blog-container{
        width: 100%;
        // height: 25rem;
        background: #FF4C29;

        &__title{
            color: yellow;
        }

      &__blogs{
          &--item{
              margin-top: 4rem;
              height: 12rem;
              background: #ffffff;
          }
          h3{
              color: yellow;
          }
      }
    }
}