.navigation{
    .navigation-container{
        z-index: 100 !important; position: fixed;width: 100%; top: 0;
        background: #eaeaea;
        &__list{

            i{
                position: absolute;
                right: 20px;
                top:20px ;
            }
            width: 75%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            &--item{
                @media screen and (max-width:768px) {
                    margin: 2rem 0 !important;
                }
             }

            &--link{
                color: #424242;
                font-weight: 600;
                transition: 0.5s;
                &:hover{
                    color: #FF4C29;
                }
                &.active{
                    color: #FF4C29;
                }
            }
           

            @media screen and (max-width:768px) {
                position: absolute; 
                left: -100%;
                top: 0; 
                display: flex !important; 
                justify-content: center;
                flex-direction: column;
                background: #eaeaea;
                height: 100vh;
                z-index: 100;
                transition: 0.5s;
                width: 100%;

                &.showMenu{
                    left: 0;
                }
            }
        }
    }
}