*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');


ul{
    list-style: none;
}

html{
    font-size: 16px;
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
    font-family: 'Roboto Mono', monospace;
}
.g-container{
    padding: 4rem 5rem;
    
    @media screen and (max-width:768px) {
        padding: 2rem 2rem;
    }
}

a{
    text-decoration: none !important;
}
.g-x-container{
    padding: 0rem 5rem;
    @media screen and (max-width:768px) {
        padding: 0rem 2rem;
    }
}
i{
    cursor: pointer
}


@import 'components/navigation';
@import 'components/banner';
@import 'components/swiper';
@import 'components/services';
@import 'components/about';
@import 'components/blog';
@import 'components/contact';
@import 'components/footer';